<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="to40">
                    <match url="^tree/node/(.*)"/>
                    <action type="Rewrite" url="http://192.168.99.30:4000/{R:1}"/>
                </rule>
                <rule name="to30">
                    <match url="^(.*)"/>
                    <action type="Rewrite" url="http://192.168.99.30:2022/{R:1}"/>
                </rule>
            </rules>
            <outboundRules>
                <rule name="img">
                    <match filterByTags="A, Form, Img, Link, Script" pattern="^(.*)"/>
                    <conditions>
                        <add input="{URL}" pattern="^(.*)"/>
                    </conditions>
                    <action type="Rewrite" value="/planttree{R:1}"/>
                </rule>
                <rule name="phyloxml">
                    <match pattern="let url = '/treedb/tree/phyloxml/(.*)"/>
                    <conditions>
                        <add input="{URL}" pattern="^(.*)"/>
                    </conditions>
                    <action type="Rewrite" value="let url='/planttree/treedb/tree/phyloxml/{R:1}"/>
                </rule>
                <rule name="node">
                    <match pattern="(iframe class.*)/treedb/node/(.*)"/>
                    <conditions>
                        <add input="{URL}" pattern="^(.*)"/>
                    </conditions>
                    <action type="Rewrite" value="{R:1}/planttree/treedb/node/{R:2}"/>
                </rule>
            </outboundRules>
        </rewrite>
    </system.webServer>
</configuration>
