<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="web demo">
    <meta name="author" content="wp">
    <title>{{ title }}</title>
    {{ bootstrap.load_css() }}
    {% from 'bootstrap/nav.html' import render_breadcrumb_item %}
    <link rel="stylesheet" href="{{ url_for('static', filename='jquery-ui.css') }}">
    <script src="{{ url_for('static', filename='d3.js') }}"></script>
    <script src="{{ url_for('static', filename='jquery.js') }}"></script>
    <script src="{{ url_for('static', filename='jquery-ui.js') }}"></script>
    <script src="{{ url_for('static', filename='sax.js') }}"></script>
    <script src="{{ url_for('static', filename='phyloxml.js') }}"></script>
    <script src="{{ url_for('static', filename='forester_1_8.js') }}"></script>
    <script src="{{ url_for('static', filename='archaeopteryx.js') }}"></script>
    <script type="application/javascript">
        function load() {
            let options = {};
            options.alignPhylogram = false;
            options.dynahide = true;
            options.externalNodeFontSize = 10;
            options.internalNodeFontSize = 10;
            options.labelColorDefault = '#202020';
            options.minBranchLengthValueToShow = 0.001;
            options.minConfidenceValueToShow = 0.5;
            options.nodeSizeDefault = 2;
            options.nodeVisualizationsOpacity = 1.0;
            options.phylogram = true;
            options.searchIsCaseSensitive = false;
            options.searchIsPartial = true;
            options.searchUsesRegex = false;
            options.showBranchEvents = true;
            options.showBranchLengthValues = false;
            options.showConfidenceValues = true;
            options.showDisributions = true;
            options.showExternalLabels = true;
            options.showExternalNodes = false;
            options.showInternalLabels = false;
            options.showInternalNodes = false;
            options.showNodeEvents = true;
            options.showNodeName = true;
            options.showNodeVisualizations = true;
            options.showSequence = false;
            options.showSequenceAccession = true;
            options.showSequenceGeneSymbol = true;
            options.showSequenceName = true;
            options.showSequenceSymbol = true;
            options.showTaxonomy = false;
            options.showTaxonomyCode = true;
            options.showTaxonomyCommonName = true;
            options.showTaxonomyRank = true;
            options.showTaxonomyScientificName = true;
            options.showTaxonomySynonyms = true;

            let settings = {};
            settings.border = '1px solid #909090';
            settings.controls0Top = 10;
            settings.enableDownloads = true;
            settings.enableBranchVisualizations = false;
            settings.enableCollapseByBranchLenghts = false;
            settings.enableCollapseByFeature = true;
            settings.enableMsaResidueVisualizations = true;
            settings.enableNodeVisualizations = true;
            settings.nhExportWriteConfidences = true;
            settings.showShortenNodeNamesButton = false;
            settings.rootOffset = 140;

            let confValsInBrackets = false;
            let confValsAsInternalNodeNames = true;
            //let data = "((Mus_musculus_b1genep:0.00000,Mus_musculus_b1gened:0.00000):0.00000,(Mus_musculus_b1genew1:0.00000,Mus_musculus_b1genew2:0.00000):0.00000):0.00000; "
            let data = "{{ newick }}"
            let tree = archaeopteryx.parseNewHampshire(data, confValsInBrackets, confValsAsInternalNodeNames);
            archaeopteryx.launch('#phylogram1', tree, options, settings);
        }

        window.onload = load;
    </script>
</head>
<body class="container-fluid bg-gray">
<div class="header sticky-top my-2">
    <nav class="navbar navbar-expand-lg navbar-light col-md-10 mx-auto"
         style="background-color: #009a3b">
        <a class="navbar-brand h5 text-light mt-2" href="#">Plant Tree Database</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse"
                data-target="#navbarText" aria-controls="navbarText" aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <ol class="breadcrumb mr-auto my-2 h5">
            {{ render_breadcrumb_item('index', 'Home') }}
            {{ render_breadcrumb_item('tree_list', 'Tree list') }}
            {{ render_breadcrumb_item('submit_list', 'Submit list') }}
            {{ render_breadcrumb_item('tree_query', 'Query') }}
            {{ render_breadcrumb_item('submit', 'Submit') }}
            {% if current_user.is_authenticated %}
            {{ render_breadcrumb_item('/auth/tree/{{current_user.user_id}}}', 'My trees') }}
            {{ render_breadcrumb_item('/auth/logout', 'Logout') }}
            {% if current_user.username=='admin' %}
            {{ render_breadcrumb_item('/admin', 'Admin') }}
            {% endif %}
            {% else %}
            {% endif %}

        </ol>
        <div class="btn btn-dark my-2 mr-auto h3">
            {{ title }}
        </div>
        <form class="form-inline my-2">
            <input class="form-control mr-sm-2" type="search" placeholder="Search">
            <button class="btn btn-primary my-2 my-sm-0" type="submit">Search</button>
        </form>
    </nav>
</div>
<div class="container-fluid">
    <div id='phylogram1'></div>
    <div id='controls0' class='ui-widget-content'></div>
</div>
<div>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    {{render_messages(dismissible=True, dismiss_animate=True)}}
    {% endif %}
    {% endwith %}

</div>
</body>
<footer class="footer h5 font-weight-bolder text-muted text-center">
    <div class="h6 text-primary text-center">
        <p>
            Power by Flask 2.2.2 and Bootstrap 5 <br/>
            <span>Copyright 2022</span>
        </p>
    </div>
</footer>
</html>
