<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="web demo">
    <meta name="author" content="wp">
    {% if title %}
        <title>{{title}}</title>
    {% else %}
        <title>Plant tree database</title>
    {% endif %}
    {% block style %}
        {{ bootstrap.load_css() }}
    {% endblock %}
    {% from 'bootstrap4/nav.html' import render_breadcrumb_item %}
    {% from 'bootstrap4/utils.html' import render_messages, render_icon %}
    <style>
        body {
            font-family: "微软雅黑", "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei" !important;
        }
    </style>
</head>
<body class="container-fluid col-md-10 bg-gray">
<div class="header sticky-top my-2">
    <nav class="navbar navbar-expand-lg navbar-light col-md-10 mx-auto" style="background-color: #009a3b">
        <a class="navbar-brand h5 text-light mt-2" href="#">Plant Tree Database</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse"
                data-target="#navbarText" aria-controls="navbarText" aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <ol class="breadcrumb mr-auto my-2 h5">
            {{ render_breadcrumb_item('index', 'Home') }}
            {{ render_breadcrumb_item('tree_query', 'Query') }}
            {{ render_breadcrumb_item('submit', 'Submit') }}
            {{ render_breadcrumb_item('tree_list', 'Tree list') }}
            {{ render_breadcrumb_item('submit_list', 'Submit list') }}
            {% if current_user.is_authenticated %}
                {{ render_breadcrumb_item('/auth/tree/{{current_user.user_id}}}', 'My trees') }}
                {{ render_breadcrumb_item('/auth/logout', 'Logout') }}
                {% if current_user.username=='admin' %}
                    {{ render_breadcrumb_item('/admin', 'Admin') }}
                {% endif %}
            {% else %}
            {% endif %}
        </ol>
        <form class="form-inline my-2">
            <input class="form-control mr-sm-2" type="search" placeholder="Search">
            <button class="btn btn-primary my-2 my-sm-0" type="submit">Search</button>
        </form>
    </nav>
</div>

<div class="container col-md-10 my-2">
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {{render_messages(dismissible=True, dismiss_animate=True)}}
        {% endif %}
    {% endwith %}
    {% block content %}

    {% endblock %}
    {% block script %}
        {{ bootstrap.load_js() }}
    {% endblock %}

</div>
<hr/>
{% block footer %}
<footer class="footer h5 font-weight-bolder text-muted text-center">
    <div class="h6 text-primary text-center">
    <p>
        Power by Flask 2.2.2 and Bootstrap 4 <br/>
        <span>Copyright 2022</span>
    </p>
    </div>
</footer>
{% endblock %}
</body>
</html>
