<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="web demo">
    <meta name="author" content="wp">
    {% if title %}
        <title>{{title}}</title>
    {% else %}
        <title>TreeHub</title>
    {% endif %}
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css') }}">
    <script src="{{ url_for('static', filename='jquery.js') }}"></script>
    <script src="{{ url_for('static', filename='bootstrap.bundle.min.js') }}"></script>
    {% from 'bootstrap4/nav.html' import render_breadcrumb_item %}
    {% from 'bootstrap4/utils.html' import render_messages, render_icon %}
    <style>
        body {
            font-family: "微软雅黑", "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei" !important;
        }
    </style>
</head>
<body class="container-fluid bg-gray col-md-10">
<div class="header sticky-top my-2">
    <nav class="navbar navbar-expand-lg navbar-light col-md-10 mx-auto" style="background-color: #009a3b">
        <a class="navbar-brand h5 text-light mt-2" href="#">TreeHub</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse"
                data-target="#navbarText" aria-controls="navbarText" aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <ol class="breadcrumb mr-auto my-2 h5">
            {{ render_breadcrumb_item('index', _('Home')) }}
            {{ render_breadcrumb_item('tree_query', _('Query')) }}
            {{ render_breadcrumb_item('submit_info', _('Submit')) }}
            {{ render_breadcrumb_item('tree_list', _('Tree list')) }}
            {{ render_breadcrumb_item('submit_list', _('Submit list')) }}
            {% if current_user.is_authenticated %}
                {{ render_breadcrumb_item('/treehub/auth/tree/{{current_user.user_id}}}', _('My trees')) }}
                {{ render_breadcrumb_item('/treehub/auth/logout', _('Logout')) }}
                {% if current_user.username=='admin' %}
                    {{ render_breadcrumb_item('/treehub/admin', _('Admin')) }}
                {% endif %}
            {% else %}
            {% endif %}
        </ol>
        <form class="form-inline my-2">
            <!--<input class="form-control mr-sm-2" type="search" placeholder="Search">
            <button class="btn btn-secondary my-1 my-sm-0" type="submit" disabled>{{_('Search')}}</button>-->
        </form>
        {% if session['locale']=='en' %}
            <a class="btn btn btn-primary mx-1" href="/treehub/locale/zh" role="button">中文</a>
        {% else %}
            <a class="btn btn btn-primary mx-1" href="/treehub/locale/en" role="button">English</a>
        {% endif %}
    </nav>
</div>

<div class="container-fluid col-md-10 my-2">
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {{render_messages(dismissible=True, dismiss_animate=True)}}
        {% endif %}
    {% endwith %}
    {% block content %}

    {% endblock %}

</div>
<hr/>
{% block footer %}
<footer class="footer h5 font-weight-bolder text-muted text-center">
    <div class="h6 text-primary text-center">
   <!-- <p>
        {{_('Plant Science Data Center of CAS')}}<br/>
        <span>{{'京ICP备16067583号-44'}}</span><br/>
        <span>{{gettext('Plantplus© 2020-2022 copyright')}}</span><br/>
        <span>{{gettext('Institute of Botany, Chinese Academy of Sciences')}}</span>

    </p>-->
 <p>
        {{_('中国科学院植物科学数据中心')}}<br/>
        <span>{{'京ICP备16067583号-44'}}</span><br/>
        <span>{{gettext('中国植物＋© 2020-2025 版权所有')}}</span><br/>
        <span>{{gettext('中国科学院植物研究所')}}</span>

    </p>
    </div>
</footer>
{% endblock %}
</body>
</html>
