<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="web demo">
    <meta name="author" content="wp">
    <title>{{ title }}</title>
    {{ bootstrap.load_css() }}
    {% from 'bootstrap4/nav.html' import render_breadcrumb_item %}
    <link rel="stylesheet" href="{{ url_for('static', filename='jquery-ui.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css') }}">
    <script src="{{ url_for('static', filename='d3.js') }}"></script>
    <script src="{{ url_for('static', filename='jquery.js') }}"></script>
    <script src="{{ url_for('static', filename='bootstrap.bundle.min.js') }}"></script>
    <script src="{{ url_for('static', filename='jquery-ui.js') }}"></script>

    <script src="{{ url_for('static', filename='sax.js') }}"></script>

    <script src="{{ url_for('static', filename='rgbcolor.js') }}"></script>
    <script src="{{ url_for('static', filename='Blob.js') }}"></script>
    <script src="{{ url_for('static', filename='canvas-toBlob.js') }}"></script>
    <script src="{{ url_for('static', filename='canvg.js') }}"></script>
    <script src="{{ url_for('static', filename='FileSaver.js') }}"></script>

    <script src="{{ url_for('static', filename='phyloxml.js') }}"></script>
    <script src="{{ url_for('static', filename='forester_1_8.js') }}"></script>
    <script src="{{ url_for('static', filename='archaeopteryx.js') }}"></script>
    <script type="application/javascript">
        function load() {
            let options = {};
            options.alignPhylogram = false;
            options.dynahide = true;
            options.externalNodeFontSize = 10;
            options.internalNodeFontSize = 10;
            options.labelColorDefault = '#202020';
            options.minBranchLengthValueToShow = 0.001;
            options.minConfidenceValueToShow = 0.5;
            options.nodeSizeDefault = 2;
            options.nodeVisualizationsOpacity = 1.0;
            options.phylogram = true;
            options.searchIsCaseSensitive = false;
            options.searchIsPartial = true;
            options.searchUsesRegex = false;
            options.showBranchEvents = true;
            options.showBranchLengthValues = false;
            options.showConfidenceValues = true;
            options.showDisributions = true;
            options.showExternalLabels = true;
            options.showExternalNodes = false;
            options.showInternalLabels = false;
            options.showInternalNodes = false;
            options.showNodeEvents = true;
            options.showNodeName = true;
            options.showNodeVisualizations = true;
            options.showSequence = false;
            options.showSequenceAccession = true;
            options.showSequenceGeneSymbol = true;
            options.showSequenceName = true;
            options.showSequenceSymbol = true;
            options.showTaxonomy = false;
            options.showTaxonomyCode = true;
            options.showTaxonomyCommonName = true;
            options.showTaxonomyRank = true;
            options.showTaxonomyScientificName = true;
            options.showTaxonomySynonyms = true;

            let settings = {};
            settings.border = '1px solid #909090';
            settings.collapseLabelWidth = '36px';
            settings.controls0Top = 10;
            settings.dynamicallyAddNodeVisualizations = true;
            settings.enableAccessToDatabases = true;
            settings.enableBranchVisualizations = true;
            settings.enableCollapseByBranchLenghts = true;
            settings.enableCollapseByFeature = false;
            settings.enableDownloads = true;
            settings.enableDynamicSizing = true;
            settings.enableMsaResidueVisualizations = true;
            settings.enableNodeVisualizations = true;
            settings.nhExportWriteConfidences = true;
            settings.rootOffset = 140;
            settings.showDynahideButton = false;
            settings.showLineageButton = true;
            settings.showMutationsButton = true;
            settings.showSearchPropertiesButton = true;
            settings.showShortenNodeNamesButton = false;
            //let url = '/tree/newick/{{tree_id}}';
            let url = '/treehub/tree/phyloxml/{{tid_func(tree_id)}}';
            fetch(url).then(r=>r.text()).then(data=>{
                //console.log(data);
                //let tree = archaeopteryx.parseNewHampshire(data);
                let tree = archaeopteryx.parsePhyloXML(data);
                archaeopteryx.launch('#phylogram1', tree, options, settings);
            })
        }

        window.onload = load;
    </script>
</head>
<body class="container-fluid bg-gray">
<div class="header sticky-top my-2">
    <nav class="navbar navbar-expand-lg navbar-light col-md-10 mx-auto"
         style="background-color: #009a3b">
        <a class="navbar-brand h5 text-light mt-2" href="#">Plant Tree Database</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse"
                data-target="#navbarText" aria-controls="navbarText" aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <ol class="breadcrumb mr-auto my-2 h5">
            {{ render_breadcrumb_item('index', _('Home')) }}
            {{ render_breadcrumb_item('tree_query', _('Query')) }}
            {{ render_breadcrumb_item('submit_info', _('Submit')) }}
            {{ render_breadcrumb_item('tree_list', _('Tree list')) }}
            {{ render_breadcrumb_item('submit_list', _('Submit list')) }}
            {{ render_breadcrumb_item('view_tree', _('Back to View'), tid=tid_func(tree_id)) }}
            {% if current_user.is_authenticated %}
                {{ render_breadcrumb_item('/treedb/auth/tree/{{current_user.user_id}}', _('My trees')) }}
                {{ render_breadcrumb_item('/treedb/auth/logout', _('Logout')) }}
                {% if current_user.username=='admin' %}
                    {{ render_breadcrumb_item('/treedb/admin', _('Admin')) }}
                {% endif %}
            {% endif %}
        </ol>
        <div class="btn btn-dark my-2 mr-auto h3">
            {{ title }}
        </div>
        <form class="form-inline my-2">
            <input class="form-control mr-sm-2" type="search" placeholder="Search">
            <button class="btn btn-primary my-2 my-sm-0" type="submit">{{_('Search')}}</button>
        </form>
    </nav>
</div>
<div class="container-fluid">
    <div id='phylogram1'></div>
    <div id='controls0' class='ui-widget-content'></div>
</div>
<div>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    {{render_messages(dismissible=True, dismiss_animate=True)}}
    {% endif %}
    {% endwith %}

</div>
</body>
<footer class="footer h5 font-weight-bolder text-muted text-center">
    <div class="h6 text-primary text-center">
        <p>
            Power by Flask 2.2.2 and Bootstrap 5 <br/>
            <span>Copyright 2022</span>
        </p>
    </div>
</footer>
</html>
