{% extends "base.html" %}
{% block content %}
<div class="jumbotron text-center">
    <h1 class="h2">Plant tree database</h1><br>
    <h2 class="h3">Search, Visualize, Analyze and Submit</h2><br>
    <div class="mx-auto">
        <a class="btn btn-lg btn-success" href="/tree/query" role="button">Query</a>
        <a class="btn btn-lg btn-primary" href="/submit" role="button">Submit</a>
        <a class="btn btn-lg btn-dark" href="/tree/117900" role="button">Demo</a>
    </div>
</div>
<div class="card-deck">
    {% for study, img in cards %}
    <div class="card">
        <div class="card-header bg-dark text-white">
            {{study.tree_title}}
        </div>
        <img class="card-img-top" src="{{img}}" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">{{study.title}}</h5>
            <p class="card-text">{{study.abstract}}</p>
            <a href="/tree/{{study.tree_id}}" class="btn btn-outline-primary">View tree</a>
            <a href="https://doi.org/{{study.doi}}" class="btn btn-outline-success">View article</a>
        </div>
        <div class="card-footer">
            <small class="text-muted">Last updated {{study.upload_date}}</small>
        </div>
    </div>
    {% endfor %}
    <a href="/tree/list" class="btn btn-outline-secondary my-lg-auto">More...</a>
</div>


{% endblock %}
{% block footer %}
<footer class="footer h5 font-weight-bolder text-muted text-center">
    <div class="h6 text-primary text-center">
        <p>
            Power by Flask 2.2.2 and Bootstrap 5 <br/>
            <span>Copyright 2022</span>
        </p>
    </div>
</footer>
{% endblock %}
