{% extends "base.html" %}
{% block content %}
<div class="jumbotron text-center">
    <h1 class="h2">TreeHub</h1><br>
    <h2 class="h3">{{_('Search, Visualize, Analyze and Submit')}}</h2><br>
    <div class="mx-auto">
        <a class="btn btn-lg btn-success" href="/treehub/tree/query" role="button">{{_('Query')}}</a>
        <a class="btn btn-lg btn-primary" href="/treehub/submit" role="button">{{_('Submit')}}</a>
        <a class="btn btn-lg btn-dark" href="/treehub/tree/{{tid(117900)}}" role="button">{{_('Demo')}}</a>
    </div>
</div>
<div class="card-deck">
    {% for study, img in cards %}
    <div class="card">
        <div class="card-header bg-dark text-white">
            {{study.tree_title}}
        </div>
        <img class="card-img-top img-fluid" src="{{img}}" alt="Card image cap" style="width:300px;height:300px">
        <div class="card-body">
            <h6 class="card-title">{{study.title}}</h6>
            <button class="btn btn-outline-dark" type="button" data-toggle="collapse"
                    data-target="#x{{study.tree_id}}" aria-expanded="false"
                    aria-controls="x{{study.tree_id}}">
                {{_('Abstract')}}
            </button>
            <div class="collapse" id="x{{study.tree_id}}">
                <div class="card card-body"> {{study.abstract}}</div>
            </div>
            <a href="/treehub/tree/{{tid(study.tree_id)}}" class="btn btn-outline-primary" target="_blank">{{_('Tree')}}</a>
            <a href="https://doi.org/{{study.doi}}" class="btn btn-outline-success" target="_blank">{{_('Article')}}</a>
        </div>
        <div class="card-footer">
            <small class="text-muted">{{_('Last updated')}} {{study.upload_date}}</small>
        </div>
    </div>
    {% endfor %}
    <a href="/treehub/tree/list" class="btn btn-outline-secondary my-lg-auto">{{_('More...')}}</a>
</div>


{% endblock %}
