{% extends "base.html" %}
{% block content %}
{% from 'bootstrap4/form.html' import render_form, render_field %}
<h1 class="text-center">Tree list</h1>
<style>
    .myField {display: inline-block;}
</style>
<div class="myField float-right"> {{ render_form(form, form_type='inline')}} </div>
<table class="table table-hover table-responsive">
    <thead class="thead-dark">
    <tr>
        <th>#</th>
        <th>Tree title</th>
        <th>Kind</th>
        <th>Year</th>
        <th>Title</th>
        <th>Journal</th>
        <th>doi</th>
        <th>Manage</th>
    </tr>
    </thead>
    <tbody>
    {% for tree in pagination.items %}
    <tr>
        <td>{{tree.tree_id}}</td>
        <td>{{tree.tree_title}}</td>
        <td>{{tree.tree_kind}}</td>
        <td>{{tree.year}}</td>
        <td>{{tree.title}}</td>
        <td>{{tree.journal}}</td>
        <td>
            {% if tree.doi is not none %}
            <a href="https://doi.org/{{tree.doi}}">{{tree.doi}}</a>
            {% endif %}
        </td>
        <td>
            <a href="/tree/{{tree.tree_id}}">View</a>
            <a href="/tree/edit/{{tree.tree_id}}">Edit</a>
        </td>
        {% endfor %}
    </tr>
    </tbody>
</table>
{% from 'bootstrap4/pagination.html' import render_pagination %}
{{render_pagination(pagination, align='center', size='lg')}}
{% endblock %}
