{% extends "base.html" %}
{% block content %}
{% from 'bootstrap4/form.html' import render_form, render_field %}
<style>
    .myField {display: inline-block;}
</style>
<div class="myField float-right"> {{ render_form(form, form_type='inline')}} </div>
<table class="table table-hover table-responsive">
    <thead class="thead-dark">
    <tr>
        <!--th>#</th-->
        <th>{{_('Tree title')}}</th>
        <th>{{_('Year')}}</th>
        <th>{{_('Title')}}</th>
        <th>{{_('Journal')}}</th>
        <th class="text-nowrap">{{_('Action')}}</th>
    </tr>
    </thead>
    <tbody>
    {% for tree in pagination.items %}
    <tr>
        <!--td>{{tree.tree_id}}</td-->
        <td class="font-italic">{{tree.tree_title}}</td>
        <td>{{tree.year}}</td>
        <td>{{tree.title}}</td>
        <td>{{tree.journal}}</td>
        <td class="text-nowrap">
            <a href="/treedb/tree/{{tree.tree_id}}">{{_('View')}}</a>
            <a href="/treedb/tree/edit/{{tree.tree_id}}">{{_('Edit')}}</a>
            {% if tree.doi is not none %}
            <a href="https://doi.org/{{tree.doi}}">{{_('Article')}}</a>
            {% endif %}
            {% if tree.upload_date is not none %}
            <a href="/treedb/matrix/from_tree/{{tree.tree_id}}">{{_('Matrix')}}</a>
            {% endif %}
        </td>
        <td class="text-nowrap">
        </td>
        {% endfor %}
    </tr>
    </tbody>
</table>
{% from 'bootstrap4/pagination.html' import render_pagination %}
{{render_pagination(pagination, align='center', size='lg')}}
{% endblock %}
